<div class="modal fade show" [class.d-block]="isOpen" tabindex="-1" *ngIf="isOpen">
  <div class="modal-dialog" [class.modal-sm]="size === 'sm'" [class.modal-lg]="size === 'lg'" [class.modal-xl]="size === 'xl'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isOpen"></div>
