<div class="card border-left-{{color}} shadow h-100 py-2 border-0 border-start border-4">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="text-xs font-weight-bold text-{{color}} text-uppercase mb-1 small fw-bold">
          {{title}}
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800 fw-bold">{{value}}</div>
      </div>
      <div class="col-auto">
        <i class="bi bi-{{icon}} fs-2 text-gray-300"></i>
      </div>
    </div>
  </div>
</div>
